.card{
    min-height: 150px;
}

.card-body{

}
.pokemon-img{

}

.poke-type{
    margin: 5px;
    background-color: #a2a0a0;
    border-radius: 10px;
    color: white;
}

.favorite{
    text-align: end;
    margin-bottom: 15px;

}
.favorite svg{
    width: 30px;
    height: 30px;
    fill: #c7c5c5;
}

.favorite svg:hover{

    fill: red;
}
.in-list svg{
    fill:red
}


